.header {
    display: flex;
    background-color: $color3;

    div {
        &:first-of-type {
            img {
                width: 50px;
            }
        }

        &:last-of-type {
            margin-left: auto;
            margin-right: 20px;

            nav {
                ul {
                    display: flex;
                    list-style: none;
                    margin-top: 15px;

                    li {
                        color: white;
                        cursor: pointer;
                        transition: .2s;

                        &:hover {
                            color: rgb(3, 142, 117);
                        }

                        a {
                            margin: 0 5px;
                            color: white;
                            text-decoration: none;
                            transition: .3s;
                            background-image: radial-gradient(currentColor, currentColor);
                            padding-bottom: 3px;
                            background-position: 50% 100%;
                            background-size: 0% 0%, 2.5px;
                            background-repeat: no-repeat;

                            &:hover {
                                color: rgb(3, 142, 117);
                                background-size: 100% 2px;
                            }
                        }

                        ul {
                            position: absolute;
                            visibility: hidden;
                            opacity: 0;
                            background-color: rgba($color: $color3, $alpha: 0.9);
                            right: 20px;
                            text-align: center;
                            width: 95px;
                            flex-direction: column;
                            height: 0%;
                            transition: .2s ease-in-out;

                            li {
                                position: relative;
                                right: 30px;
                            }
                        }

                        .ul-li-nav-ul-show {
                            visibility: visible;
                            overflow: hidden;
                            opacity: 1;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }

    .title {
        h1 {
            margin-left: 20px;
            margin-top: 5px;
            color: white;
        }
    }
}

@media(max-width:575.1px) {
    .header {
        position: sticky;
        top: 0;
        background-color: rgba($color: $color3, $alpha: 0.9);

        div {
            &:last-of-type {
                nav {
                    ul {
                        position: fixed;
                        flex-direction: column;
                        left: 0;
                        top: 0;
                        margin: 0;
                        background-color: rgba($color: $color3, $alpha: 0.9);
                        height: 100%;
                        transform: translateX(-200px);
                        transition: .5s;

                        li {
                            margin: 10px 0;

                            a {
                                color: white;
                            }

                            ul {
                                position: absolute;
                                visibility: hidden;
                                opacity: 0;
                                background-color: rgba($color: $color3, $alpha: 0.9);
                                right: 20px;
                                text-align: center;
                                width: 100px;
                                flex-direction: column;
                                height: 0px;
                                transition: .2s ease-in-out;
                                z-index: 2;
                                transform: translate(20px, 180px);

                                li {
                                    position: relative;
                                }
                            }
                            .ul-li-nav-ul-show {
                                height: 95px;
                                visibility: visible;
                                overflow: hidden;
                                opacity: 1;
                            }
                        }
                    }

                    .ul-nav-show {
                        transform: translateX(0px);
                    }
                }
            }
        }

        .bars {
            position: absolute;
            top: 10px;
            right: 10px;
            color: white;
            cursor: crosshair;
        }

        .title {
            h1 {
                display: none;
            }
        }
    }
}
@media (max-width:620px){
    .header{
        .title{
            display: none;
        }
    }
}