.valoresEscuela{
    background-repeat: no-repeat;
    display: flex;
    background-color: rgba($color: $color4, $alpha: 0.85);
    img{
        margin: 20px auto;
        width: 100%;
        max-width: 1200px;
    }
}
.main-index{
    display: flex;
    text-align: center;
    background-color: rgba($color: $color4, $alpha: 0.85);
    .content-div{
        margin: 0 auto;
        div{
            display: flex;
            justify-content: center;
            ul{
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                li{
                    list-style: none;
                    a{
                        color: black;
                        margin: 0 5px;
                        
                    }
                }
            }
            margin: 20px 0;
            a{
                color: $color3;
            }
        }
    }
}