$color1: #5B616A;
$color2: #CED3DC;
$color3: #275DAD;
$color4: #FCF7F8;
$color5: #ABA9C3;
*{
    margin: 0;
    padding: 0;
}

@import "./header.scss";
@import "./footer.scss";
@import "./index.scss";
@import "./electronica.scss";
