.error-heading {
    font-size: 80px;
    margin-bottom: 20px;
    color: #d9534f;
}

.error-message {
    font-size: 18px;
    margin-bottom: 30px;
}

.error-link {
    color: #5bc0de;
    text-decoration: none;
    font-weight: bold;
}

.error-link:hover {
    text-decoration: underline;
}
.error{
    color: #333;
    text-align: center;
    padding: 50px;
}